@if (!productDetails) {
<div class="alert alert-danger" role="alert">Product not found!</div>
} @else {
<div class="row">
  <div class="col">
    <img
      [src]="productDetails.imageUrl"
      [alt]="productDetails.name"
      class="img-fluid rounded"
    />
  </div>

  <div class="col">
    <h1>{{ productDetails.name }}</h1>

    <p>{{ productDetails.quantityPerUnit }}</p>

    <button class="btn btn-primary btn-lg mt-4" (click)="onButtonClick()">
      Add to Cart - {{ productDetails.unitPrice | currency }}
    </button>
  </div>
</div>
}
